.gallery{
  display: grid;
  grid-template-columns: auto;
  grid-row-gap: 16px;

  .item{
    position: relative;

    img{
      width: 100%;
      height: 100%;
    }

    .info{
      width: auto;
      position: absolute;
      top: 0;
      left: 0;
      background: var(--color-accent);
      color: var(--color-on-accent);
      padding: 3px 8px;
      text-transform: capitalize;
    }

  }

  @media (min-width: 576px){
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
  }

  @media (min-width: 768px){
    grid-template-columns: repeat(3, 1fr);
  }

  @media (min-width: 992px){
    grid-template-areas:
    'one one two'
    'one one three';

    .item{
      &:nth-child(1){
        grid-area: one;
      }

      &:nth-child(2){
        grid-area: two;
      }

      &:nth-child(3){
        grid-area: three;
      }
    }

  }

}