.header{
  min-height: 300px;
  height: 300px;
  background: no-repeat center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  color: var(--color-secondary);
  padding-bottom: 30px;

  h1{
    font-size: 3.8rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-weight: 700;
  }

  h2{
    font-family: 'Cookie', cursive;
    font-weight: 400;
    letter-spacing: 0.15rem;
    font-size: 2.4rem;
    text-transform: capitalize;
  }

  &.big{
    height: calc(100vh - 240px);

    h1{
      color: var(--color-accent);
    }

  }

}