:root{
  --color-primary: #000000;
  --color-secondary: #FFFFFF;

  --color-accent: #61dafb;
  --color-accent-secondary: #999999;
  --color-accent-third: #FFFAE0;
  --color-on-accent: #000000;

  --color-bg-dark: #282c34;
  --color-bg-darker: #20232a;

}