@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=latin-ext');

@import "variables";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility
}

*,:focus,:hover {
  outline: none!important;
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

:root {
  font-size: 62.5%
}

body,html {
  padding: 0;
  margin: 0;
  width: 100%
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: normal;
  background: #FFFFFF;
  color: var(--color-primary);
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: 100vh;
}

body {
  &.no-scroll {
    overflow: hidden
  }
  &.scrolled{

  }
}

@media (min-width: 769px) {
  body{
    &.no-scroll {
      padding-right: 17px
    }
  }
}

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

a{
  text-decoration: none;
  color: var(--color-primary);
  transition: color 0.2s ease-in-out;

  &:hover{
    color: var(--color-accent);
  }
}