.button{
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  font-weight: 700;
  background: transparent;
  transition: color .2s ease-in-out, border-color .2s ease-in-out, background .2s ease-in-out;

  &.light{
    color: var(--color-secondary);
    border-color: var(--color-secondary);
  }

  &.dark{
    color: var(--color-primary);
    border-color: var(--color-primary);
  }

  &:hover{
    //color: var(--color-accent);
    background: var(--color-accent);
    border-color: var(--color-accent);
  }

}